.footer {
  height: 3rem;
  width: 100%;
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer p {
  padding: 0;
  margin: 0;
}
